* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

img {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 36px;
}

h2 {
  font-size: 18px;
  line-height: 36px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

p, form table {
  margin: 0 0 18px;
}

ul, ol {
  margin: 0 0 18px 18px;
}

form table th {
  vertical-align: top;
  padding: 0 5px 0 0;
  text-align: right;
}

form table td {
  vertical-align: top;
  padding: 0 0 7px;
  text-align: left;
}

label {
  white-space: nowrap;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  width: 170px;
  font-size: 12px;
}

input, textarea {
  padding: 2px 0 2px 2px;
}

input[type="submit"], button {
  padding: 1px;
}

select {
  padding: 2px;
}

span form {
  display: inline;
}

blockquote {
    padding: 0px 30px;
}
