{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<p>
Welcome to the media generator base project. This project is primarily intended as a development server for client-side web developers and designers who want to automate the whole media management process:
</p>

<ul>
  <li>combining media into a single file</li>
  <li>compression (e.g. via yuicompressor or closure)</li>
  <li>sprite generation</li>
  <li>integrating <a href="http://sass-lang.com/">Sass</a> and other CSS compilers</li>
  <li>integrating <a href="http://pyjs.org/">pyjs</a> and other JavaScript compilers</li>
  <li>etc.</li>
</ul>
{% endblock %}
